/* Inventory table */
.inventory-table {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto; /* For horizontal scrolling on smaller screens */
    background-color: #fff; /* Table background set to white */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1; /* Hover effect for row, gray when hovered */
}

/* Create New DVD button styling */
.create-new-inventory-item {
    background-color: #000000; /* Black background */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; /* Rounded button */
    cursor: pointer;
    width: 220px; /* Adjust width to match other button */
    height: 59px; /* Match height to "Back to Home" button */
    font-size: 19px;
    font-weight: 700;
    display: block;
    margin: 20px auto;
}

.create-new-inventory-item:hover {
    background-color: #333; /* Darker black on hover */
}

/* Delete button styling */
button.delete-button {
    background-color: #000000;
    color: white;
    width: 220px;
    height: 59px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px auto;
    border-radius: 50px;
    display: block;
}
  
button.delete-button:hover {
    background-color: #333; /* Darker black on hover */
}

/* Custom Search Section */
.search-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

.search-section label {
    margin-right: 10px;
    font-weight: bold;
}

.search-section select, 
.search-section input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-section select {
    margin-right: 10px;
    width: 160px; /* Adjust width for dropdown */
}

.search-section input {
    width: 40%;
}

/* Inventory-specific search button */
.search-button {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    width: 180px;
    display: block;
    margin-left: 10px;
}

.search-button:hover {
    background-color: #333;
}
